.modal {
  position: absolute;
  top: 5%;
  left: 30%;
  display: none;
}

.close {
  margin-left: 98%;
}

.main-image-container {
  width: 50rem;
  height: 50rem;
  margin-top: 2rem;
}

.main-image-container > img {
  border-radius: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 110%;
  position: absolute;
  top: 40%;
  left: -5%;
}

.modal-buttons > img {
  border-radius: 55%;
  padding: 1.5rem;
  background-color: #ffffff;
  cursor: pointer;
}

.thumbnails {
  width: 45rem;
  margin: 0 auto;
}

.show {
  display: block;
}

.bg-black {
  background-color: black;
}
